################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AccountOwnerServer/.vs/AccountOwnerServer/FileContentIndex
/AccountOwnerServer/.vs/AppSolution/FileContentIndex
